.notificationsList {
  height: max-content;
  display: inline-block;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 3px;
  background-color: rgb(255, 152, 152);
  width: 800px;
  margin-bottom: 60px !important;
}
